<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS/Post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <form class="formulario" method="post" action="/guardar" onsubmit="emitCambio(event)">
            <h1>Ingrese <br> Producto</h1>
            <h3>Nombre</h3>
            <input type="text" name="title" placeholder="escriba aqui">
            <h3>Precio</h3>
            <input type="text" name="price">
            <h3>Foto URL</h3>
            <input type="text" name="thumbnail">
            <br>
            <br>
            <input type="submit" class="formEnviar" value="Enviar">
        </form>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="/index.js"></script>
</body>
</html>