*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}
.formulario{
    background: burlywood;
    display: flex;
    flex-direction: column;
    width: 90vw;
    min-height: 90vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.test{
    background-color: cadetblue;
}
.formEnviar{
    width: 10vw;
}
.formProductosTEMP{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.tabla{
    margin-top: 3vw;
    border-collapse: collapse;
    width: 100%;
    background-color: #343A40;
    color: white;
}
.tabla td, .tabla th{
    border: 1px solid #ddd;
    padding: 8px;
}
.tablaImagen{
    width: calc(5vw + 20px);
}
.formNoHayProductos{
    margin-top: 2vh;
    width: 80vw;
    min-height: 10vw;
    background-color: blanchedalmond;
    color: goldenrod;
    font-size: calc(2vw + 14px);
}