*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #B4CA65;
}
h1{
    color: #A91E50;
}
header{
    min-height: 10vh;
}
main{
    min-height: 60vh;
}
footer{
    min-height: 30vh;
    background-color: #FFFFE1;
}
.formulario{
    background: #FFFFE1;
    display: flex;
    flex-direction: column;
    width: 90vw;
    min-height: 50vh;
    
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}
.test{
    background-color: cadetblue;
}
.formEnviar{
    width: 10vw;
}
.formProductosTEMP{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.tablaPadding{
    padding-top: 5vh;
}
.tabla{
    border-collapse: collapse;
    color: black;
    background-color: #FFFFE1;
    width: 94vw;
    min-height: 30vh;
    margin-left: auto;
    margin-right: auto;
}
.tabla td, .tabla th{
    border: 1px solid #ddd;
    padding: 8px;
}
.tablaImagen{
    width: calc(5vw + 20px);
}
.formNoHayProductos{
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    min-height: 10vw;
    background-color: #FFFFE1;
    font-size: calc(2vw + 14px);
}
.header_titulo{
    margin-left: 3vw;
}
.nav{
    margin-top: 0.8vw;
    margin-left: 2vw;
}
.nav span{
    margin-left: 1vw;
    margin-right: 1vw;
    color: #A91E50;
}
.footer_titulo{
    color: #A91E50;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    bottom: -25vh;
    position: relative;
}
