doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PUG/Vista
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href='http://localhost:8080/pug/vista'): span Vista
        a(href='http://localhost:8080/pug/actualizar'): span Actualizar
        a(href='http://localhost:8080/pug/borrar'): span Borrar
        a(href='http://localhost:8080/pug/post'): span Post
        div(class='formulario')
            h1 Alta
            h1 de Productos
            table(class="tabla")
                        tr
                            th Nombre
                            th Precio
                            th Foto URL
                        tr
                            each val in productos
                                th=val.title
                                th=val.price
                                th: img(class='tablaImagen' src=val.thumbnail alt='fotodeproducto')