<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HBS Dar de alta</title>
</head>
<body>
    <a href="http://localhost:8080/hbs/vista"><span>Vista</span></a>
    <a href="http://localhost:8080/hbs/actualizar"><span>Actualizar</span></a>
    <a href="http://localhost:8080/hbs/borrar"><span>Borrar</span></a>
    <a href="http://localhost:8080/hbs/post"><span>Post</span></a>
        <form class="formulario" method="post" action='/guardar'>
            <h1>Ingrese <br> Producto</h1>
            <h3>Nombre</h3>
            <input type="text" name="title" placeholder="escriba aqui">
            <h3>Precio</h3>
            <input type="text" name="price">
            <h3>Foto URL</h3>
            <input type="text" name="thumbnail">
            <input class="formEnviar" type="submit" value="Enviar">
        </form>
</body>
</html>