<header>
    <a href="http://localhost:8080"><h1 class="header_titulo">EJS</h1></a>
    <div class="nav">
        <a href="http://localhost:8080/ejs/vista"><span>Vista</span></a>
        <a href="http://localhost:8080/ejs/post"><span>Post</span></a>
        <a href="http://localhost:8080/ejs/actualizar"><span>Actualizar</span></a>
        <a href="http://localhost:8080/ejs/borrar"><span>Borrar</span></a>
    </div>
</header>
